@using Project19
@model Contact
@{
    ViewBag.Title = "Details";
}
<link href="~/css/ownStylecss.css" rel="stylesheet" />
<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <td>ID:</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>Фамилия:</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>Имя:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Отчество:</td>
        <td>@Model.FatherName</td>
    </tr>
    <tr>
        <td>Номер телефона:</td>
        <td>@Model.TelephoneNumber</td>
    </tr>
    <tr>
        <td>Адрес:</td>
        <td>@Model.ResidenceAdress</td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td>@Model.Description</td>
    </tr>
</table>
