@using Project19;

@model IEnumerable<Contact>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/ownStylecss.css" rel="stylesheet" />
<link href="~/css/stylecss.css" rel="stylesheet" />

<h1 class="fontStyle"> Список клиентов</h1>

<br/>
<table class="table" cellspacing="0" border="1" bordercolor ="blue" align="left" bgcolor ="aliceblue">
    <thead>
        <tr style="font-size:20px">
            <th width="50">
                ID
            </th>
            <th width="200">
                Фамилия
            </th>
            <th width="200">
                Имя
            </th>
            <th width="200">
                Отчество
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="font-size:20px">
                <td>
                    <input type="button" value="@item.ID" onclick="location.href='@Url.Action("Details", "MyDefault", new { id = item.ID})'" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherName)
                </td>
            </tr>
        }
    </tbody>
</table>
